body {
  /* Pour coller le menu au bord, sans espace */
  margin: 0;

}
.wrapper-global{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
main{
  width: 100%;
  text-align: center;
}
.big-buttons{
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 28px;
}
.big-button{
  display: flex;
  align-items: center;
  width: 450px;
  height: 160px;
  background-color: #1a1a1a;
  cursor: pointer;
  svg{
    width: 62px;
    height: auto;
    margin-left: 30px;
  }
  .big-button-txt{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    color: white;
    text-align: left;
    h2{
      text-transform: capitalize;
      line-height: 0px;
    }
    a{
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-size: 12px;
      font-weight: bold;
    }
    a:hover {
      color: #1a1a1a;
    }
  }
}
.big-button:hover {
  background-color: #ffb606;
}
.big-button:hover svg path{
  fill: white;
}








