.menu {
    position: sticky;
    top: 20px;
    width: 100%;
}
#hamburger-logo {
    /* Pour que le curseur soit un pointeur */
    cursor: pointer;
    background: white;
    width: 200px;
    display: block;
    color: black;
    /* Pour que le menu hamburger s'affiche toujours */
    text-align: right;
    /* Pour que le menu hamburger soit "rangé" par défaut */
    transform: translateX(100px);
    padding: 10px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    background: white;
    overflow: hidden;
    width: 200px;
    /* Pour que les liens soient "rangés" par défaut */
    transform: translateX(-200px);
  }
  
  #hamburger-logo,
  nav {
    /* Pour qu'il y ait une animation */
    transition: 0.7s;
  }
  #hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
  /* Changement de la position pour afficher les menus */
  transform: translate(0);
}
nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background: #444;
  }